@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.foo {
  width: 0;
  height: 26px;
}
.foo:after {
  content: "";
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.e43f76ed.png);
  background-size: 424px 409px;
  background-position: -364px -54px;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  position: relative;
}
